.landingContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.titleContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}